 # Data Science Tools and Ecosystem

## Author
Sadia Mohamud

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- popular languages for data science
- libraries to use for data science
- data science tools
- arithmetic operations with python

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciKit-Learn
3. PyTorch
4. NumPy

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Ray |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335